* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
