.card {
  height: auto;
  width: auto;
  background-color: #f4f0f0f0;
  box-shadow: 5px 5px 5px #888888;
  border: 1px solid #555;
  padding: 10px;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

button {
  margin: 5px;
  border: 1px solid #555;
  outline: none;
}

/* .noHover {
  pointer-events: none;
} */

.btn-plus {
  background-color: rgb(137, 195, 137);
}
/* .btn-plus:hover {
  font-size: 20px;
  border: 1px solid #555;
} */

.btn-minus {
  font-size: 500;
  background-color: rgb(235, 158, 123);
}
