.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ded4d4;
}

.modal-container {
  width: 300px;
  padding: 10px;
  border: 2px solid black;
}

.hide {
  display: none;
}
