* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  padding: 20px;
  background-color: rgb(185, 223, 224);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container h1 {
  text-align: center;
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.flex-items {
  flex: 1 1 300px;
  background-color: #f4f1f1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.flex-items h2 {
  margin-bottom: 10px;
  color: #333;
}

.flex-items p {
  color: #666;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-items {
    flex-basis: 100%;
  }
}
