@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "roboto", sans-serif;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2em;
  color: #333;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 2em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell:hover {
  background-color: #eee;
}

.winner-section {
  display: none;
  margin-top: 20px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: lightseagreen;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(23, 117, 120);
}

.x {
  color: #996600;
}

.o {
  color: #336699;
}
