* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  background-color: beige;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: relative;
}

.navbar-container {
  display: flex;
  max-width: 1200px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
}

.navbar-items {
  margin-left: 1rem;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #ddd;
}

.navbar-toggle {
  /* display: none; */
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 1rem;
    width: 100%;
    line-height: 1.5rem;
  }
  .navbar-menu.active {
    display: flex;
  }
  .navbar-toggle {
    display: block;
  }
}
